{% extends "outer.html" %}

{% block script %}
  <script>
  $(document).ready(function(){
    $("#form").validate({
      rules: {
{% for m in details %}
        "observation_{{ m.measurementid }}" : { required : "#kilowatt_{{ m.measurementid }}:filled" },
{% endfor %}
      },
      messages : {
{% for m in details %}
        "observation_{{ m.measurementid }}" : "Please enter a name/comment for this measurement", 
{% endfor %}
      }
    });
  });
  </script>
{% endblock %}

{% block body %}
  <a href="list.py">(back to list)</a>
  <h1>{{ machineroom.name }}</h1> 
    <div id="summary">
      <h2>Summary</h2>
      <div style="float:left;width:50%">
	<table border="0" cellspacing="10">
	  {% for (category,value) in summary %}
	  <tr><td>{{ category }}</td><td align="right">{{ "%0.3f"|format(value) }} kW</td></tr>
	  {% endfor %}
	</table>
      </div>
      <div style="float:left;width:50%">
	<table border="0" cellspacing="10">
	  <tr><td><b>Total power</b></td><td>{{ "%0.3f"|format(total) }} kW</td></tr>
	  <tr><td><b>PUE</b></td><td>{{ "%0.3f"|format(pue) }}</td></tr>
	  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	  <tr><td>Last update</td><td>{{ machineroom.updatetime }}</td></tr>
	  <tr><td>Updated by</td><td>{{ machineroom.updateby }}</td></tr>
	</table>
      </div>
      <div style="clear:both"></div>
      <p>Purpose: {{ machineroom.purpose|e }}</p>
      <p>Location: {{ machineroom.location|e }}</p>
      <p>Comments: {{ machineroom.comments|e }} </p>
    </div>
    <div id="measurements">
      <h2>Measurements</h2>
      <form method="post" action="update.py" id="form">
	<input type="hidden" name="machineroomid" value="{{ machineroom.machineroomid }}"/>
	<table border="0" cellspacing="10">
	  <tr>
	    <td>Comment</td>
	    <td>Measurement<br/>(kW)</td>
	    {% for (id,category,prop) in categories %}
	    <td>{{ category }}</td>
	    {% endfor %}
	  </tr>
	  {% for m in details %}
	  <tr>
	    <td>
	      <input type="hidden" name="record" value="{{ m.measurementid }}"/>
	      <input type="text" 
		     id="observation_{{ m.measurementid }}" 
		     name="observation_{{ m.measurementid }}" 
		     value="{{ m.observation }}" 
		     size="10"/></td>
	    <td><input type="text" 
		       id="kilowatt_{{ m.measurementid }}" 
		       name="kilowatt_{{ m.measurementid }}" 
		       value="{{ m.kiloWatt }}"
		       min="0"
		       size="5"/></td>
	    {% for (dataid,id,c) in m.categories %}
	    <td>
	      <input name="proportionid_{{ m.measurementid }}_{{ id }}" type="hidden" value="{{ dataid }}"/>
              {% if c is sameas 100 %}
	      <input id="proportion_{{ m.measurementid }}_{{ id }}"
		     name="proportion_{{ m.measurementid }}_{{ id }}" 
		     type="checkbox" 
		     value="{{ 100 }}" 
		     checked="true"/>
	      {% elif c is sameas 0 %}
	      <input id="proportion_{{ m.measurementid }}_{{ id }}"
		     name="proportion_{{ m.measurementid }}_{{ id }}" 
		     type="checkbox" 
		     value="{{ 100 }}" />
	      {% else %}
	      <input id="proportion_{{ m.measurementid }}_{{ id }}"
		     name="proportion_{{ m.measurementid }}_{{ id }}" 
		     type="text" 
		     value="{{ c }}" 
		     min="0"
		     max="100"
		     size="5"/>
	      {% endif %}	     
	    </td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
	<input id="submit" type="submit" value="Update"/>
      </form>
  </div>
{% endblock %}
