{% extends "outer.html" %}

{% block script %}
  <script>
  $(document).ready(function(){
    $("#form").validate({
      rules: {
{% for m in details %}
        "observation_{{ m.measurementid }}" : { required : "#kilowatt_{{ m.measurementid }}:filled" },
{% endfor %}
      },
      messages : {
{% for m in details %}
        "observation_{{ m.measurementid }}" : "Please enter a name/comment for this measurement", 
{% endfor %}
      }
    });
  });
  </script>
{% endblock %}

{% block body %}
  <ul id="nav-breadcrumb">
    <li class="first"><a href="https://www.cl.cam.ac.uk">Computer Laboratory</a></li>
    <li><a href="https://www.cl.cam.ac.uk/research">Research</a></li>
    <li><a href="https://www.cl.cam.ac.uk/research/dtg">Digital Technology Group</a></li>
    <li><a href="index.py">Machine room list</a></li>
    <li><a href="#">{{ machineroom.name }}</a></li>
  </ul>
    <div id="summary" style="width:35em">
      <hr/>
      <p style="text-align:center">{{ machineroom.name }} (<a href="edit.py?machineroomid={{ machineroom.machineroomid }}">edit</a>)<br/>{{ machineroom.purpose }}<br/>{{ machineroom.location  }} </p>
      <div style="float:left;width:15em">
	<table border="0" cellspacing="10">
	  {% for (category,value) in summary %}
	  <tr><td>{{ category }}</td><td align="right">{{ "%0.3f"|format(value) }} kW</td></tr>
	  {% endfor %}
	</table>
      </div>
      <div style="float:left;width:17em">
	<table border="0" cellspacing="10">
	  <tr><td><b>Total power</b></td><td>{{ "%0.3f"|format(total) }} kW</td></tr>
	  <tr><td><b>PUE</b></td><td>{{ "%0.3f"|format(pue) }}</td></tr>
	  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	  <tr><td>Last measurement</td><td>{{ machineroom.updatetime }}</td></tr>
	  <tr><td>Updated by</td><td>{{ machineroom.updateby }}</td></tr>
	</table>
      </div>
      <div style="clear:both"></div>
      <p>Comments: {{ machineroom.comments|e }} </p>
      <p>The breakdown is an estimate derived from the measurements provided.  In the case where a measurement covers more than one category the energy cost is divided equally between each.</p>
      <hr/>
    </div>
    <div id="measurements">
      <h2>Measurements</h2>
      {% if edit_proportions is sameas false %}
      <p>
	Use the check boxes to indicate which classes of equipment are covered by a measurement.  For example: a measurement of the energy consumption of the UPS might cover Computers, Networking and the UPS itself.  If your measurement only applies to part of the consumption of a class (e.g. two UPS measured separately) then you can indicate these proportions by switching to: 
	<a href="show.py?machineroomid={{ machineroom.machineroomid  }}&prop=y">proportion mode</a>
      </p>
      {% else %}
      <p>
	You are currently editing in 'proportion mode'.  Enter the percentage of a particular class which each measurement covers.  For example if you have a measurement which only covers 50% of the lighting you should enter 50 in the lighting column.  Alternatively you can switch back to
 	<a href="show.py?machineroomid={{ machineroom.machineroomid  }}">basic mode</a>
      </p>
      {% endif %}	     

      <form method="post" action="update.py" id="form">
	<input type="hidden" name="machineroomid" value="{{ machineroom.machineroomid }}"/>
	<table border="0" cellspacing="10">
	  <tr>
	    <td>Comment</td>
	    <td>Measurement<br/>(kW)</td>
	    {% for (id,category,prop) in categories %}
	    <td>{{ category }}</td>
	    {% endfor %}
	  </tr>
	  {% for m in details %}
	  <tr>
	    <td>
	      <input type="hidden" name="record" value="{{ m.measurementid }}"/>
	      <input type="text" 
		     id="observation_{{ m.measurementid }}" 
		     name="observation_{{ m.measurementid }}" 
		     value="{{ m.observation }}" 
		     size="10"/></td>
	    <td><input type="text" 
		       id="kilowatt_{{ m.measurementid }}" 
		       name="kilowatt_{{ m.measurementid }}" 
		       value="{{ m.kiloWatt }}"
		       min="0"
		       size="5"/></td>
	    {% for (dataid,id,c) in m.categories %}
	    <td>
	      <input name="proportionid_{{ m.measurementid }}_{{ id }}" type="hidden" value="{{ dataid }}"/>
	      {% if edit_proportions is sameas true %} 
	       <input id="proportion_{{ m.measurementid }}_{{ id }}"
		     name="proportion_{{ m.measurementid }}_{{ id }}" 
		     type="text" 
		     value="{{ c }}" 
		     min="0"
		     max="100"
		     size="5"/>
	      {% else %}

              {% if c is sameas 100 %}
	      <input id="proportion_{{ m.measurementid }}_{{ id }}"
		     name="proportion_{{ m.measurementid }}_{{ id }}" 
		     type="checkbox" 
		     value="{{ 100 }}" 
		     checked="true"/>
	      {% elif c is sameas 0 %}
	      <input id="proportion_{{ m.measurementid }}_{{ id }}"
		     name="proportion_{{ m.measurementid }}_{{ id }}" 
		     type="checkbox" 
		     value="{{ 100 }}" />
	      {% else %}
	      <input id="proportion_{{ m.measurementid }}_{{ id }}"
		     name="proportion_{{ m.measurementid }}_{{ id }}" 
		     type="text" 
		     value="{{ c }}" 
		     min="0"
		     max="100"
		     size="5"/>
	      {% endif %}	     

	      {% endif %}	     
	    </td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
	<input id="submit" type="submit" value="Update"/>
      </form>

  </div>
{% endblock %}
